package components

templ Navbar() {
<nav class="sticky top-0 w-full bg-base-100 bg-white shadow-sm shadow-base-300/20 py-3 z-50">
    <div class="container mx-auto flex flex-wrap items-center justify-between gap-4 px-4">
        <!-- Logo -->
        <div class="flex items-center gap-2">
            <a class="text-xl font-bold text-base-content no-underline" href="/">
                <img src="public/logo.png" alt="Yesfix" class="w-32 h-16 object-contain rounded" />
            </a>
        </div>

        <!-- Desktop Buttons -->

        {children...}


        // <!-- Mobile Menu Button -->
        // <div class="md:hidden ">
        //     <button id="menu-toggle" class="text-xl focus:outline-none" onclick="toggleMobileMenu()">
        //         ☰
        //     </button>
        // </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu"
        class="text-sm md-hidden transition-all duration-300 ease-in-out md:hidden px-4 pt-6 pb-4 space-y-auto bg-white border-t-2 border-black">
        <a href="#prebook"
            class="scroll-prebook mobile-link w-full px-4 py-2 border-2 border-brutalist-yellow bg-brutalist-yellow text-brutalist-black font-black uppercase tracking-wider shadow-brutalist-shadow">
            🗓️ Pre-Book Now
        </a>
        <a href="#contact"
            class="scroll-contact mobile-link w-full px-4 py-2 text-brutalist-black font-black uppercase tracking-wider border-2 border-black hover:bg-brutalist-black hover:text-white">
            Contact Us
        </a>
    </div>
</nav>

<!-- External Script -->
<script src="/public/js/navbar.js" defer></script>
    



}

templ Buttons(){
<div class="hidden md:flex items-center gap-3">
    <!-- Pre Book Now Button -->
    <a
        class="scroll-prebook px-6 py-2 border-2 border-brutalist-yellow bg-brutalist-yellow text-brutalist-black font-black text-lg uppercase tracking-wider shadow-brutalist-shadow transition transform hover:translate-x-1 hover:translate-y-1 hover:text-brutalist-yellow hover:bg-transparent cursor-pointer">
        🗓️ Pre-Book Now
    </a>

    <!-- Contact Us Button -->
    <a
        class="scroll-contact px-6 py-2 font-black text-lg uppercase tracking-wider text-brutalist-black transition transform hover:bg-brutalist-black hover:text-white cursor-pointer">
        Contact Us
    </a>
</div>
}