package home_page

import "YesFix/views/layouts"
import "YesFix/views/components"


templ HomePage(){
    @layouts.Base() {
        <!-- Navbar -->
        @components.Navbar(){
            @components.Buttons()
        }
        @components.Hero()
        @components.Services()

        

        @components.Steps()
       
        // @components.Compare()
        @components.Reviews()
        @components.Contact()
    }
}