package about_page

import "YesFix/views/layouts"
import "YesFix/views/components"


templ AboutPage(){
    @layouts.Base() {
        <!-- Navbar -->
        @components.Navbar(
            components.AboutMobileButtons(),
            components.AboutDesktopButtons(),
        )
        
        @components.About()
        // @components.Compare()
        
    }
}

